<h1>{{title}}</h1>
<h3>Booking</h3>
<hr />

<div class="modal-body">
  
  <form class="col-md-12 form-horizontal">
    <input type="hidden" id="bookingId" value="0" />
    <div class="form-group">
      <label>Discussion Topic</label>
      <input type="text" id="title" class="form-control" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" id="description" class="form-control" />
    </div>
    <div class="form-group">
      <label>Start date & time</label>
      <input type="datetime" id="scheduleStartDate" class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <div class="form-group">
      <label>End date </label>
      <div class="input-group date" id="dtDOB">
        <input type="datetime" id="scheduleEndDate" class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label>Theme Color</label>
      <select id="themeColor" class="form-control">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="black">Black</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="Teal">Teal</option>
      </select>
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" id="location" class="form-control" />
    </div>
  
    <div class="form-group">
      <label>Senior student Number</label>
      <select id="seniorStudentId" class="form-control">
      </select>
    </div>
    <div class="form-group">
      <label>Student Number</label>
      <select id="studentId" class="form-control">
      </select>

    </div>

    <button type="button" id="btnSaveEmployee" (click)="SaveData()" class="btn btn-success">Save</button>
  </form>
</div>
